<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/567a84b9-d84f-4f1c-bc82-fe30e081b175/resourcegroups/RestaurantAPI20230514214605ResourceGroup/providers/Microsoft.Web/sites/RestaurantAPI20230514214605</ResourceId>
    <ResourceGroup>RestaurantAPI20230514214605ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/567a84b9-d84f-4f1c-bc82-fe30e081b175/resourceGroups/RestaurantAPI20230514214605ResourceGroup/providers/Microsoft.ApiManagement/service/RestaurantAPIapi/apis/RestaurantAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://restaurantapi20230514214605.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>1540e857-f99c-43fc-ba19-a57651af9318</ProjectGuid>
    <MSDeployServiceURL>restaurantapi20230514214605.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RestaurantAPI20230514214605</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$RestaurantAPI20230514214605</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>